.leftbox {
      width: 340px;
      height: calc(100vh - 56px);
}

.user {
      width: 300px;
      height: 55px;
      display: flex;
      align-items: center;
      margin-top: 10px;
      border-radius: 15px;
      cursor: pointer;
      padding-left: 10px;
      
}

.chat {
      width: 300px;
      display: flex ;
      justify-content: space-between;
      margin-bottom: 15px;
      align-items: center;
}

.chat-item {
      width: 40px;
      height: 40px;
      border-radius: 50px;
      background: #F0F2F5;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      margin-left: 10px;
}

.chat-item:hover {
      background: #d1d4d8;
}
.chat> div{
      display:  flex;

}

.options {
      background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yn/r/B3JAIfxpsBn.png);
      background-position: -105px -105px;
      background-size: 189px 194px;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      display: inline-block;
    }
    
    .new-rooms {
      background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yA/r/8Ys3L3ttMZM.png);
      background-position: 0px -292px;
      background-size: 33px 1379px;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      display: inline-block;
    }
    
    .send-chat {
      background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yA/r/8Ys3L3ttMZM.png);
      background-position: -0px -502px;
      background-size: 33px 1379px;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      display: inline-block;
    }
.userlist{
     
      width: 340px;
      height: calc(100vh - 160px);
      overflow: auto;
}

.user:hover{
      background: #F0F2F5;
}

.user > img {
      margin-right: 10px;
}

.searchdiv {
      width: 300px;
      height: 40px;
      display: flex;
      align-items: center;
      background: #F0F2F5;
      border-radius: 15px;
      padding-left: 15px;

}

.searchdiv>input {
      width: 250px;
      height: 35px;
      background: #F0F2F5;
      outline: none;
      border: none;
      margin-left: 10px;
}