.leftside{
      width: 300px;
      height: calc(100vh - 56px);
      overflow: auto;
      
      
  
} 

.content--div>img {
      margin-right: 7px;
      width: 25px;
      height: 25px;
      cursor: pointer;
}

.content--div {
      
      width: 280px;
      height: 40px;
      display: flex;
      align-items: center;
}

.content--div > h4 {
      cursor: pointer;
}

.content--div:hover {
      background: #e4e6e9;
      
      border-radius: 5px;
}

.open {
    width: 25px;
    height: 25px;
    cursor: pointer; 

}